body {
    background: rgb(191, 189, 235);
    background: linear-gradient(90deg, rgba(191, 189, 235, 1) 0%, rgba(221, 215, 209, 0) 20%, rgba(191, 227, 231, 0.3030196629213483) 35%);
}

.mymarginleft {
    margin-top: 50px;
    padding-left: 100px;
}

.mymarginright {
    margin-top: 50px;
    padding-right: 100px;
}

.ident {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading2 {
    margin-top: 20px;
    padding-left: 100px;
    font-family: sans-serif;
    padding-right: 100px;
}

.borderupheading2 {
    border-top: 1px solid black;
    margin-bottom: 10px;
}

.borderdownheading2 {
    border-top: 1px solid black;
    margin-top: 10px;
}

.heading3 {
    font-size: xx-large;
    margin-top: 10px;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 300px;
}

.heading4 {
    margin-top: 1px;
    margin-left: 100px;
}

.heading5 {
    margin-top: 30px;
    margin-left: 100px;
}

.padding {
    padding-left: 120px;
    padding-right: 100px;
}

.padding_below {
    padding-left: 120px;
    padding-right: 100px;
    color: red;
}

.middleheading {
    font-size: 30px;
    color: red;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.mymarginbottomleft {
    margin-top: 0px;
    padding-left: 100px;
}

.mymarginbottomright {
    margin-top: 0px;
    padding-right: 100px;
    margin-bottom: 15px;
}


.border {
    border-top: 1px solid black;
    margin-left: 100px;
    margin-right: 100px;
}


.paddingleftright {
    padding-left: 10px;
    margin-right: 100px;
}


.middleborder {
    border-top: 1px solid black;
    margin-left: 120px;
    margin-right: 105px;
}

.fontfamily {
    font-family: Arial, Helvetica, sans-serif
}


.boldheadingmiddle {
    padding-left: 20px;
}

.headingright {
    margin-right: 300px;
}

.headingmiddle {
    margin-left: 50px;
}

.headingleft {
    margin-left: 150px;
}

.trapezoid {
    border-bottom: 50px solid darkred;
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    height: 0px;
    width: 100px;
    color: white;
}


.container {
    position: relative;
}

.text-block {
    position: absolute;
    color: white;
    padding-left: 10px;
}


.figure {
    margin-left: 100px;

}

.link
{
    margin-left: 1500px;
    font-weight: 900;
    font-size: 20px;
}